body {
    display: flex;
    height: 100%;
}

#shoutbox {
    width: 100%;
}

.shoutbox {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    max-width: 800px;
    height: 100%;
}

.shout-form {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.shout-form input {
    height: 35px;
}

.input-shout-author {
    width: 6em;
}

.input-shout-body {
    /*margin-left: 1em;*/
    width: 25em;
}

.input-shout-submit {
    width: 6em;
    /*margin-left: 1em;*/
}

.shout-list {
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #eee;
    padding: 16px 0;
}

.shout {
    display: flex;
}

.shout .author {
    /*flex-grow: 1;*/
    /*width: 5em;*/
    padding-right: 1em;
    color: darkred;
    display: inline-flex;
}

.shout .shout-body {
    /*flex-grow: 10;*/
    color: dodgerblue;
    display: inline-flex;
    word-break: break-word;
}

.stat {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}