doctype html5
html
	head
		title characteristics
		link(rel='stylesheet',href='/css/06.characteristics.css')
	body
		input(type='text',id='input',placeholder='type a name and press enter↲')
		span(id='intro') powered by 
			a(href='http://weibo.com/whynotme') @Israfel
		canvas(id='chart')
		script(src='//cdn.bootcss.com/Chart.js/1.0.2/Chart.js')
		script(src='/js/06.characteristics.js')