doctype html
html
    head
        title Senritu
    body(style='background-color:#010715;margin:0;')
        audio(autoplay,loop,id='au')
            source(src='/media/heart.mp3' type='audio/mpeg')
        img(src='/media/sea1.jpg',width='690',style='display:block;margin:0 auto;')
        span(width='200px',height='20px',style='text-align:center;display:block;margin:0 auto;font-family:Calibri Light,微软雅黑 Light,Microsoft YaHei Light;color:#010715;') 吓到了吗XD（图片取自贴吧，音乐来自CLANNAD）