doctype html
html
	head
		title Welcome!
		style(type='text/css') .centered { display:block; margin:50px auto; text-align:center; font-size: 18pt; font-family: 'Comic Sans MS', 'Microsoft YaHei'}
	body(style='padding-top:30px;')
		a(href='/characteristics')
			span(class='centered') 06 Characteristics
		a(href='/senritu')
			span(class='centered') 07 Senritu